html{
  font-size: 62.5%;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

h1, h2, h3, p, ol,ul, figure{
  margin: 0;
}

ul, ol{
  list-style: none;
  padding: 0;
}


body{
  background: #151515 url(../images/bg.png) no-repeat fixed left bottom;
  background-size: cover;
  color:#fff;
  font-size: 1.4rem;
  font-family: Raleway,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  text-align: center;
}
header{
  padding: 170px 0 80px;
}


.site-title{
  font-size: 7.6rem;
  margin: 0 0 40px;
}

.site-title-sub{
  display: block;
  margin: 0 0 50px;
  font-size: 2.2rem;
}
.site-title-sub::before,
.site-title-sub::after{
  background-color: #fff;
  content: '';
  display: inline-block;
  height: 2px;
  vertical-align: middle;
  width: 140px;
}

.site-title-sub::before{
  margin-right: 30px;
}

.site-title-sub::after{
  margin-left: 30px;
}

.site-desciption{
  color: #888;
  font-size: 1.6rem;
  margin: 0 0 60px;
}

.nav-global ul{
  display: flex;
  justify-content: center;
}

.nav-global li{  
  height: 60px;
  width: 200px;
}

.nav-global li:not(:last-child){
  margin: 0 30px 0 0 ;
}


.nav-global a{
  border-radius: 4px;
  color: #fff;
  display: block;
  height: 100%;
  line-height: 60px;
  text-decoration: none;
}

.nav-global li:nth-child(1) a{
  background-color: #afa58d;
}

.nav-global li:nth-child(2) a{
  background-color: #f1b400;
}

.nav-global a:hover{
  opacity: .7;
}

.l-about{
  background-color: #fff;
  color: #333;
  padding: 110px 30px;
}

.section-title{
  font-size: 4rem;
  margin: 0 0 45px;
  letter-spacing: 2px; 
}