html{
  font-size: 62.5%;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

h1, h2, h3, p, ol,ul, figure{
  margin: 0;
}

ul, ol{
  list-style: none;
  padding: 0;
}


body{
  background: #151515 url(../images/bg.png) no-repeat fixed left bottom;
  background-size: cover;
  color:#fff;
  font-size: 1.4rem;
  font-family: Raleway,'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  text-align: center;
}
header{
  padding: 170px 0 80px;
}

.site-title{
  font-size: 7.6rem;
  margin: 0 0 40px;
}

.site-title-sub{
  display: block;
  margin: 0 0 50px;
  font-size: 2.2rem;
}
.site-title-sub::before,
.site-title-sub::after{
  background-color: #fff;
  content: '';
  display: inline-block;
  height: 2px;
  vertical-align: middle;
  width: 140px;
}

.site-title-sub::before{
  margin-right: 30px;
}

.site-title-sub::after{
  margin-left: 30px;
}

.site-desciption{
  color: #888;
  font-size: 1.6rem;
  margin: 0 0 60px;
}

.nav-global ul{
  display: flex;
  justify-content: center;
}

.nav-global li{  
  height: 60px;
  width: 200px;
}

.nav-global li:not(:last-child){
  margin: 0 30px 0 0 ;
}


.nav-global a{
  border-radius: 4px;
  color: #fff;
  display: block;
  height: 100%;
  line-height: 60px;
  text-decoration: none;
}

.nav-global li:nth-child(1) a{
  background-color: #afa58d;
}

.nav-global li:nth-child(2) a{
  background-color: #f1b400;
}

.nav-global a:hover{
  opacity: .7;
}

.l-about{
  background-color: #fff;
  color: #333;
  padding: 110px 30px;
}

.section-title{
  display: inline-block;
  font-size: 4rem;
  margin: 0 0 45px;
  letter-spacing: 2px; 
  padding: 0 0 15px;
  position: relative;
}

.section-title::before,
.section-title::after{
  border-bottom: solid 1px #999;
  bottom:0;
  content:'';
  left: 0;
  position: absolute;
  right: 0;
}

.section-title::before{
  bottom: 5px;
}

.section-text{
  line-height: 2.5;
}

.section-text:not(:last-child){
  margin: 0 0 30px;
}

.l-works{
  background-color: #383634;
  padding:110px 0 80px ;
}

.l-skills{
  background-color: #fff;
  color: #333;
  padding: 110px 0;
}

.skill-list{
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.skill-list li{
  width: calc(100% / 3);
}

.skill-icon{
border: 4px solid;
border-radius: 50%;
color: #f1b400;
font-size: 8rem;
height: 150px;
line-height: 142px;
margin-bottom: 30px;
width: 150px; 
}

.skill-icon-reverse{
  transform:scaleX(-1);
}
.skill-title{
  font-size: 2rem;
  margin: 0 0 20px;
}

.skill-description{
  line-height: 2;
}
.l-contact{
  padding: 110px 0 150px;
}

.contact-form{
  margin: 0 auto;
  width: 50%;
}

.contact-form input[type=text],
.contact-form textarea{
  border-radius: 0;
  border: 1px solid rgba(255,255,255,.4);
  background-color: rgba(255,255,255,.05);
  color:#fff;
  display: block;
  outline: none;
  padding: 15px;
  width: 100%;
}

.contact-form input[type=text]{
  margin :0 0 10px;
}


.contact-form textarea{
  height: 150px;
  margin: 0 0 40px;
}

.contact-form input[type=submit]{
  display: block;;
  width: 200px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid rgba(255,255,255,.4);
  border-radius: 5px;
  background-color: transparent;
  color: rgba(255,255,255,.6);
  cursor: pointer;
}

.contact-form input[type=submit]:hover{
  background-color: rgba(255,255,255,.05);
}

.contact-form input[type=text]:focus,
.contact-form textarea:focus{
  box-shadow: 0 0 8px rgba(255,255,255,.5) inset;
}

footer{
  padding: 12px 0;
  font-size: 1.3rem;
}

@media(max-width:600px) {
  
}
